* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at 20% 30%, #ffffff, #e6e6e6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.img-logo {
  position: absolute;
  left: 120px;
  top: 0px;
  z-index: 1;
  width: 120px;
}

.img-logo:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.img-carrito {
  position: absolute;
  right: 120px;
  top: 20px;
  width: 150px;
}

.img-carrito:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.producto-detail {
  display: flex;
  max-width: 58%;
  gap: 40px;
   /* max-width: 750px; */ 
   justify-content: space-between;
   margin:  auto; 
  padding: 10px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

}

.producto-detail h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
}

.producto-detail p {
  color: #666;
  font-size: 0.95rem;
}

.producto-detail .precio {
  font-size: 2rem;
  font-weight: bold;
  /* color: #e63946; */
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  
  padding-top: 10px;
  padding-right: 5px;
  
}

/* Imagen */
.producto-detail img {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 16px;
}

/* Contenido */
.producto-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.producto-detail p {
  color: #555;
  line-height: 1.5;
}

.producto-detail .precio {
  font-size: 1.8rem;
  font-weight: bold;
  /* color: #e63946; */
  margin: 15px 0;
}

/* Carrito */
.agregar-carrito {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 20px;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 12px;
  /* width: 350px; */
}

.input-cantidad {
  /* width: 80px; */
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1rem;
}

.input-cantidad:focus {
  outline: none;
  border-color: #e63946;
}

/* Botón */
.btn-agregar {
  background-image: linear-gradient(rgb(247, 111, 93), rgb(247, 91, 91));
  border: solid 1px #f03737;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;

  padding: 12px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 60px;

  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}

.btn-agregar:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.btn-agregar:active {
  transform: scale(0.97);
}

