* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #e2cb7f;
  padding: 20px;
}

.seccion-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  background-color: #7ebe8e;
}

.cart-nav {
  margin-top: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-categoria {
    position: absolute;
    top: 55px;
    left: 20px;
}
